<%- include('../partials/user-head.ejs') %>
    <%- include('../partials/user-nav.ejs') %>
 <!-- blackfridaysale -->
 <section>
    <div class="py-3 py-md-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-4">
                    <h2 class="text-center my-3 fw-500" style="color: #014122;">Black Friday Sale</h1>
                </div>

                <div class="row custom-a">
                    <% productData.forEach((data)=> { %>

                        <!-- Card 1 -->
                        <div class="col d-flex justify-content-around flex-wrap col-lg-3 col-md-6">

                            <!-- Your Card Content -->
                            <div class="custom-card-container ms-5 mt-5">
                                <a href="#" class="custom-icon-heart"><i class="fa-regular fa-heart"></i></a>
                                <a href=" /user/product/details/<%-data.id%>">
                                    <img class="card-img-top" src="/<%=data.images[0]%>" alt="Card image cap" height="190px" width="210px">
                                </a>
                                <div class="custom-additional-info ">
                                    <a href=" /user/product/details/<%-data.id%>">
                                        <p>
                                            <%=data.title%>
                                        </p>
                                    </a>
                                    <p class="custom-p">₹ <%=data.mrp%> | 5.0 <i class="fa-solid fa-star"
                                                style="color: #F5D426;"></i></p>

                                </div>
                            </div>

                            <!-- Your Additional Info Content -->
                            
                        </div>


                        <% }) %>
                </div>

            </div>
        </div>
    </div>
    <div class=" d-flex justify-content-center  align-items-cenetr">
        <form action="" method="post">
            <button class="btn rounded-pill  border-success text-success text-center px-5">View All</button>
        </form>
    </div>
    <hr>
</section>
<!-- blackfridaysale -->
    <%- include('../partials/user-foot.ejs') %>