<%- include('../partials/user-head.ejs') %>
<%- include('../partials/user-nav.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function activateWallet() {
    Swal.fire({
      title: "Activate Wallet",
      text: "Are you sure you want to activate your wallet?",
      icon: "question",
      showCancelButton: true,
      confirmButtonText: "Yes, activate it!",
      cancelButtonText: "Cancel",
    }).then((result) => {
      if (result.isConfirmed) {
        // Submit the form
        document.getElementById("activateWalletForm").submit();
      }
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    var itemsPerPage = 5;
    var transactionList = document.getElementById("transaction-list");
    var pagination = document.getElementById("pagination");

    var pageCount = Math.ceil(transactionList.children.length / itemsPerPage);

    for (var i = 1; i <= pageCount; i++) {
      var li = document.createElement("li");
      li.classList.add("page-item");
      var a = document.createElement("a");
      a.classList.add("page-link");
      a.href = "#";
      a.innerText = i;
      li.appendChild(a);
      pagination.appendChild(li);
    }

    showPage(1);

    pagination.addEventListener("click", function (event) {
      event.preventDefault();
      if (event.target.tagName === "A") {
        var pageNumber = parseInt(event.target.innerText, 10);
        showPage(pageNumber);
      }
    });

    function showPage(pageNumber) {
      for (var i = 0; i < transactionList.children.length; i++) {
        transactionList.children[i].style.display = "none";
      }

      var start = (pageNumber - 1) * itemsPerPage;
      var end = start + itemsPerPage;

      for (var j = start; j < end && j < transactionList.children.length; j++) {
        transactionList.children[j].style.display = "flex";
      }

      for (var k = 0; k < pagination.children.length; k++) {
        pagination.children[k].classList.remove("active");
      }
      pagination.children[pageNumber - 1].classList.add("active");
    }
  });
</script>

<% if (walletData) { %>
<div class="wallet-container">
  <div class="text-start wallet-header">
    <h2>Wallet <i class="fa-solid fa-wallet me-1"></i></h2>
  </div>

  <div class="balance text-center">Balance: <strong>₹<%-walletData.balance%>.00</strong></div>

 <% if (walletData.history.length>0) { %>
  <h4 class="customh4">Transaction History</h4>
  <ul class="transaction-list" id="transaction-list">
    <% walletData.history.forEach((data) => { %>
      <li class="transaction-item">
        <span><%-data.type%></span>
        <span>
          <strong class="<%= data.type === 'Credited' ? 'text-success' : 'text-danger' %>">
            ₹<%- data.amount %>.0
          </strong>
        </span>
        <span><strong><%-data.description%></strong></span>
        <span><%-data.date%></span>
      </li>
    <% }) %>
  </ul>

  <nav aria-label="Page navigation">
    <ul class="pagination" id="pagination"></ul>
  </nav>
 <% } else { %>
  <h6 class="mt-1 text-danger">No Transaction History Found</h6>
  <% } %>

  <div class="text-end mt-3">
   <a href="/user/profile/<%-userData._id%>" class="text-decoration-none fw-bold">
    <i class="fa-solid fa-left-long"></i>
    Back to profile?
   </a>
  </div>
</div>
<% } else { %>
<div class="text-center mt-5 mb-5">
  <h3>Your wallet is not activated yet.</h3>
  <img src="/images/empty_wallet.png" class="img-fluid" /><br />
  <form action="/user/activate/wallet/<%-userData._id%>" method="post" id="activateWalletForm">
    <button type="button" onclick="activateWallet()" class="btn btn-primary">Activate Wallet</button>
    <input type="text" value="<%-userData._id%>" hidden name="id">
  </form>
</div>
<% } %>

<%- include('../partials/user-foot.ejs') %>
